@import 'guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-rows: 1.5fr 2fr 1fr;
	width: 400px;
	height: 580px;
	font-family: $primary-font;
	background-color: white;
	border-radius: 20px;
}

// Summary Hero Section
.summary-hero {
	background-image: url(../assets/icons/illustration-hero.svg);
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

// Summary Information Section
.summary-info {
	@include flexbox(column, center, center, 20px);
}
.summary-info__title {
	margin: 0;
	font-size: $lg-size;
	font-weight: $black;
	color: $dark-blue;
}
.summary-info__description {
	margin: 0;
	padding: 0 50px 0 50px;
	font-size: $sm-size;
	font-weight: $bold;
	text-align: center;
	color: $desaturated-blue;
}
.summary-info__plan-charge {
	@include flexbox(row, space-between, center);
	width: 85%;
	height: 80px;
	padding: 0 20px;
	background-color: $very-pale-blue;
	border-radius: 10px;
}
.plan-charge__price {
	@include flexbox(row, center, center, 10px);
}
.price {
	@include flexbox(column, center, start, 5px);
	h3 {
		margin: 0;
		font-size: $md-size;
		font-weight: $black;
		color: $dark-blue;
	}
	span {
		margin: 0;
		font-size: $sm-size;
		color: $desaturated-blue;
	}
}
.change__plan {
	font-size: $sm-size;
	font-weight: $bold;
	color: $dark-blue;
	text-decoration: none;
}

// Buttons Section
.summary-btns {
	@include flexbox(column, center, center, 20px);
}
.btn {
	width: 85%;
	height: 45px;
	padding: 10px;
	font-size: $sm-size;
	font-weight: $bold;
	border: none;
	border-radius: 10px;
	&:hover {
		cursor: pointer;
	}
}
.btn--proceed-order {
	color: $very-pale-blue;
	background-color: $bright-blue;
	box-shadow: 0 10px 8px rgba(114, 128, 167, 0.3);
}
.btn--cancel-order {
	color: $desaturated-blue;
	background-color: white;
}