@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 100%;
}

// Summary Information Section
.info__description {
	padding: 0 20px 0 20px;
}
.info__plan-charge {
	width: 90%;
	padding: 0 10px;
}
.price {
	.plan-type {
		font-size: $sm-size;
	}
}

// Buttons Section
.btns {
	gap: 10px;
}
.btn {
	width: 90%;
}
.btn--proceed-order {
	box-shadow: 0 4px 8px rgba(114, 128, 167, 0.3);
}
